body {
    background-image: url("assets,layout/secondBackground.jpg") ;
    /* background-color: cadetblue; */
    color: white;
}

header {
    position: relative;
    text-align:center ;
    font-size: 1vw;
}

 header a{
    background-color: rgb(88, 81, 150);
    border:solid 2px rgb(88, 81, 150);
    text-decoration: none;
    border-radius: 10px;
    padding: .3vw;
    color: white;
    position: absolute;
    top:-20%;
    left: 90%;
    float: right;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

h6{
    font-family:Harry P;
}
    
.div1 {
    position:relative; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: sans-serif ;
    font-weight: 600;
    font-size: 1vw;
}

.div1 a {
    background-color:transparent;
    border: solid 2px transparent;
    text-decoration: none;
    border-radius: 10px;
    padding: 1vw;
    color: white;
    width:20px;
    height:20px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    /* font-size: 10; */
}

.div2{
    position: relative;
    text-align: center;
    
}

#harryPotter {
    position: relative;
    left:0vw;
    /* margin-left:50px; */
    width:30vw;
    /* height:100px; */
    /* font-family: Sofia Pro, serif; */
    font-size:2.2vw;
}

#fave{
    position:relative;
    left:30%;
    width:580px;
    height:auto;
    font-size: 60px;
    margin: 50px;
    font-size: 3vw;
    font-family:'Courier New', Courier, monospace serif;
}

#faveP {
    position:relative;
    top: 20%;
    left: 40%;
    width:350px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.div2 a{
    position: relative;
    top:-50%;
    left:1%;
    background-color: rgb(88, 81, 150);
    border: solid 2px rgb(88, 81, 150);
    border-radius: 20px;
    text-decoration: none;
    padding: 9px 60px 9px 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.div3{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div3 a{
    margin: 70px;
    position: relative;
    left:0%;
    /* width:580px; */
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.pinImg {
    position:relative;
    float: right;
    margin:50px;
}

.pinButton{
    position: relative;
    top: 480px;
    left: 35%;
    background-color: rgb(88, 81, 150);
    border:solid 2px rgb(88, 81, 150);
    padding:14px 55px 14px 55px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.Express{
    position: relative;
    left:30%;
    width:350px;
    text-align: right;
    font-size: 60px;
}

.ExpPara{
    position: relative;
    left: 25.5%;
    width:430px;
    text-align: right;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.journeyButton{
    position: relative;
    top:-90px;
    left: -180px;
    background-color: rgb(88, 81, 150);
    border:solid 2px rgb(88, 81, 150);
    padding:14px 55px 14px 55px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.book1Img{
    position: relative;
    margin:50px;
}

.start{
    position: relative;
    top:-430px;
    left:49%;
    width:400px;
    font-size: 60px;
    text-align: left;
}

.startPara{
    position: relative;
    top:-450px;
    left: 49%;
    width:510px;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

footer{
    margin:10px;
    padding:5px;
    border: solid 1px white;
    height:400px;
}


.footer1 {
    position: relative;
    top: 20px;
    left:60px;
    display: flex;
    flex-direction: column;
    background-color:transparent;
    border: solid 2px transparent; 
    width:200px;
    
}
.footer2{
    position:relative;
    top:-70px;
    left:350px;
    display: flex;
    flex-direction: column;
    background-color:transparent;
    border: solid 2px transparent;
    width: 200px;
}

.footer3{
    position: relative;
    top:-175px;
    left:670px;
    display: flex;
    flex-direction: column;
    background-color:transparent;
    border: solid 2px transparent;
    width: 200px;
}

#fLinks {
    padding:5px;
    color: white;
    text-decoration: none;
}

footer h1{
    position: relative;
    top:-250px;
    left:1100px;
    width: 130px;
    text-align: center;
}

footer h4{
    position: relative;
    top: -150px;
    left:60px;
}

footer p{
    position: relative;
    top:-150px;
    left:60px;
    width:600px;
    font-family: sans-serif;
    font-weight: 500;
}